<template lang="html">
    <nav class="navbar navbar-expand-md navbar-dark bg-nav fixed-top">
        <a href="#" class="navbar-brand"><img src="../../../static/assets/marvel.png" alt=""></a>
        <div  class="input-group stylish-input-group">
            <b-form-input type="text" placeholder="Search character..."></b-form-input>
            <span class="input-group-addon">
                <button type="submit">
                    <img src="../../../static/assets/icons/search.png" alt="">
                </button>
            </span>
        </div>
    </nav>
</template>
<script type="text/javascript">
import bFormInput from 'bootstrap-vue/es/components/form-input/form-input'

export default {
  components: {
    'b-form-input': bFormInput
  },
  name: 'app-header'
}
</script>

<style lang="scss" scoped>
@import '../../styles/custom-bootstrap.scss';
.bg-nav {
    background: $bg-nav;
    .navbar-brand {
        position: absolute;
        img {
            width: 100px;
        }
    }
    .stylish-input-group {
        max-width: 50%;
        margin: 0 auto;
        input {
            border-radius: 0px;
            height: 45px;
            display: block;
            margin: 0 auto;
        }

    }
    .stylish-input-group .input-group-addon {
        background: white !important;
        border-radius: 0px !important;
    }
    .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
    }
    .stylish-input-group button {
        border: 0;
        background: transparent;
        font-size: 18px;
        font-weight: 400;
        img {
            width: 25px;
        }
    }
}
</style>

