<template lang="html">
    <b-row class="hello">
      <b-col lg="9" md="9" sm="12">
        <b-container fluid class="p-0">
          <h3><img :src="characterico"/>{{ title }}</h3>
        </b-container>
      </b-col>
      <b-col lg="3" md="3" sm="12" class="p-0">
        <div class="wish-list">
          <b-container>
            <b-row>
              <h3><img :src="favouriteico"/>My Favourites</h3>
            </b-row>
          </b-container>
        </div>
      </b-col>
    </b-row>
			<!-- <div v-for="brand in ['success', 'info', 'warning', 'danger']" class="alert" :class="'alert-' + brand">
	  		<strong>Well done!</strong> You successfully read this {{brand}} alert message.
	  	</div> -->


</template>

<script type="text/javascript">
import bContainer from 'bootstrap-vue/es/components/layout/container'
import bRow from 'bootstrap-vue/es/components/layout/row'
import bCol from 'bootstrap-vue/es/components/layout/col'
export default {
  components: {
    'b-container': bContainer,
    'b-row': bRow,
    'b-col': bCol
  },
  name: 'hello',
  data () {
    return {
      title: 'Characters',
      characterico: './../../static/assets/icons/characters.png',
      favouriteico: './../../static/assets/icons/favourites.png'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '../styles/custom-bootstrap.scss';
h3 {
  text-align: left;
  font-weight: bold;
  display: inline-flex;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.wish-list {
  background: $bgLateral;
  height: 100%;

  h3 {
    text-align: left;
    font-weight: bold;
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    img {
      width: 30px;
      margin-right: 10px;
    }
  }
}
</style>
