<template lang="html">
  <div id="app">
    <!-- <img src="./assets/logo.png"> -->
    <app-header></app-header>
    <b-container fluid>
      <router-view></router-view>
    </b-container>
  </div>
</template>

<script type="text/javascript">
import Header from './components/header/Header.vue'
import bContainer from 'bootstrap-vue/es/components/layout/container'
export default {
  components: {
    'b-container': bContainer,
    'app-header': Header
  },
  name: 'app'
}
</script>

<style lang="scss">
@import './styles/custom-bootstrap.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
$color: #2c3e50;
#app {

  text-align: center;
  color: $color;
  margin-top: 60px;

}
</style>
